<html>
  <head>
    <link rel="stylesheet" href="/cool.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body class='repo-selector'>
    <h1>Github Repo Selector</h1>
    <p> Please input Username to see desired Repo List </p>



    <form action="/repos" method="post">
      <input type="text" name="username" value="">
      <input type="submit" name="submit_button" value="Go">
    </form>

  </body>
</html>
